<header class="content-header">
  <h1>Stories</h1>
</header>
<% if @articles.any? %>
  <section class="article-list">
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <article class="preview">
          <a href="<%= article_path(article) %>">
            <h3><%= article.title %></h3>
            <% unless article.summary.empty? %>
              <p><%= article.summary.truncate(60, seperator: ' ') %></p>
            <% end %>
          </a>
        </article>
      <% end %>
    <% end %>
  </section>
<% else %>
  <p>You haven't created any stories yet.</p>
  <%= link_to "Creat your first Story", new_article_path %>
<% end %>
