.form-field {
  margin-bottom: 1rem;
}

.form-field-error-message {
  color: red;
}

p.form-field-error-message {
  display: inline-block;
  color: red;
  margin: 0 0.375rem 0.375rem 0;
}

.field_with_errors {
  > input {
    border-color: red;
  }
}
