@import 'base/normalize';
@import 'base/functions';
@import 'base/variables';
@import 'base/buttons';
@import 'base/forms';
@import 'base/base';

header#header {
  border-bottom: 1px solid #e1e1e1;

  nav {
    display: flex;
    margin: 0px 20px;

    a {
      margin: 0px 10px;
      padding: 30px 0px;
    }
  }
}

section.primary-content {
  max-width: 600px;
  margin: 60px auto;
}

header.content-header {
  margin-bottom: 30px;
}

section.article-list {

  article.preview {
    margin-bottom: 30px;

    > a {
      border: 1px solid #e1e1e1;
      display: block;
      padding: 30px;
    }

    h3 {
      margin: 0;
    }

    p {
    }
  }
}

section.container {
  border: 1px solid #e1e1e1;
  padding: 30px;
}

article.post-body {
  border-bottom: 1px solid #999;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

section.comments {
  div.comment-list {}

  div.add-comment {}
}
