@import 'base/normalize';
@import 'base/functions';
@import 'base/variables';
@import 'base/buttons';
@import 'base/forms';
@import 'base/base';
@import 'forms';
@import 'flash_messages';
@import 'stories/index';
@import 'stories/show';
@import 'stories/edit';

body {
  font-family: $font-stack-sans-serif;
  color: $primary-text-color;
}

header#header {
  border-bottom: 1px solid $base-border-color;

  nav {
    display: flex;
    margin: 0px 1rem;
    align-items: center;
    justify-content: space-between;

    a {
      color: $secondary-text-color;
      padding: 30px 0px;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        color: $hover-link-color;
      }

      & + a {
        margin-left: 1rem;
      }
    }

    .nav-left {
      display: flex;
    }

    .nav-right {
      display: flex;
      align-items: center;
    }
  }

  .user-name {
    margin: 0 1rem;
  }
}

section.primary-content {
  max-width: 600px;
  margin: 3rem auto;
  padding: 0 1rem;
}

div.story-container {
  max-width: 600px;
  margin: 3rem auto;
}

header.content-header {
  margin-bottom: 30px;

  h1 {
    font-weight: 300;
  }
}

section.container {
  border: 1px solid #e1e1e1;
  padding: 30px;
}
