section.article-list {

  article.preview {
    margin-bottom: 2rem;

    > a {
      border: 2px solid $base-border-color;
      border-radius: 8px;
      display: block;
      padding: 30px;
      text-decoration: none;
      box-shadow: 0px 5px 10px $gray-300;

      &:hover {
        border-color: $base-accent-color;
        box-shadow: 0px 7px 15px $gray-300;
      }

      h3 {
        color: $primary-text-color;
      }

      p {
        color: $secondary-text-color;
      }
    }

    h3 {
      margin: 0;
      font-weight: 400;
    }

    p {
      margin: 0.5rem 0 0;
      font-weight: 300;
    }
  }
}
